/* Header */

header .logo {
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;

	padding-top: 12%;
}

header h1.name {
	margin-left: auto;
	margin-right: auto;
	width: 6em;
	text-align: center;
}

header h1.name a {
	/*max-width: 100%;
	height: auto;
	display: block;
	background: url(../images/logosprites.png) no-repeat 0 0;

	font: 0/0 a;
	text-shadow: none;
	color: transparent;*/

	text-decoration: none;

}

.quote {
	font-style: italic;
	font-weight: 400;
	text-align: center;

}


/* Navigation */

nav.main div {
	float: none;
}

nav.main ul,
nav.main ul li {
	margin: 0;
}

nav.main select {
	/* show dropdown until need to be hidden */ 
	display: inline;
	width: 100%;
	margin: 0.6em;
}

nav.main ul,
nav.main ul li {
	display: none;
}

nav.main ul li a{
	float: left;
	display: inline-block;
	margin-top: 0.5em;
	margin-left: 1em;
	margin-bottom: 0.5em;
	color: #e9e0d6;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 0.04em;
	line-height: 2.7;
}

nav.main ul li a:hover {
	cursor: pointer;
	background: #29aba4;
}

/* Flexslider - just base styling needed */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* =======================================================================================================================
* R.F EDITED FLEXSLIDER
* =======================================================================================================================*/

.flexslider {
	margin: 1.3em 0;
}

.flexslider figure {
	padding: 0.5%;
	border: 0.1rem solid #29aba4;
	line-height: 0;
}

.flex-control-nav {
	width: 100%;
	text-align: center;
}

.flex-control-nav li {
	display: inline;
	margin: 0 0.4em;
}

.flex-control-nav li a {
	cursor: pointer;

	display: inline-block;
	width: 0.9rem;
	height: 0.9rem;
	background: #29aba4;
	border: 0.1rem solid #29aba4;

	font: 0/0 a;
	text-shadow: none;
	color: transparent;

	border-radius: 1rem;
}

.flex-control-nav li a.flex-active,
.flex-control-nav li a:hover {
	background: #2ec0b8;
}


/* Section */

div.section p {
	text-align: justify;
	text-justify: inter-word;
}

/* Sidebar(aside) */

aside.side {
	display: inline-block;
}

aside div.buttons {
}


/* Footer */

footer .footer-logo {
	margin-top: 0.45em;
}



.footer footer a {
	text-decoration: none;
	
}

.footer footer h6 {
	margin-top: 0.5em;
	color: #e9e0d6;
	font-weight: 600;
	letter-spacing: 0.04em;
	line-height: 2.7;
}

/* Media Queries */

@media(min-width: 350px){
	
	nav.main select {
		display: none;
	}

	nav.main ul,
	nav.main ul li {
		display: inline;
	}

	aside.side {
		margin: 0;
	}

	aside.side p {
		margin: inherit;
	}
}

@media (min-width: 560px) {
	.logo{
		float: left;
	}

	header .name,.quote{
		float: right;
	}

	nav.main div {
		float: right;
	}

}